@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
h1{
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box-info select{
    border-radius: 30px;
    border: solid 2px black;
    min-width: 250px;
    min-height: 25px;
    font-size: 18px;
}
.box-info optgroup{
    background-color: black;
    color: white;
    min-width: 250px;
    min-height: 25px;
    font-size: 18px;
}
.box-info input{
  min-width: 250px;
  min-height: 25px;
  font-size: 18px;
}


.boton-elegante {
    padding: 2px 20px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: #666666;
    background: #292929;
  }

  h1{
    font-size: 38px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #1a1a1a;
    max-width: 500px;
    
  }

  h2{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
  
  body{
    background: url(FundoSiteMTBOM.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
  }

  
  